<form>
  <!--ngModel and name combination creates implicit form control-->
  <label>First name: <input required minlength="3" maxlength="20" id="first-name" placeholder="first name" ngModel name="firstName" (change)="log(firstNameModel)" #firstNameModel="ngModel"></label>
  <div *ngIf="firstNameModel.touched && !firstNameModel.valid">
    <span *ngIf="firstNameModel.errors.required">First name required</span>
    <span *ngIf="firstNameModel.errors.minlength">First name shorter than {{firstNameModel.errors.minlength.requiredLength}} characters</span>
    <span *ngIf="firstNameModel.errors.maxlength">First name too long</span>
  </div>
  <label>Comments: <textarea ngModel name="comment" id="comment"></textarea></label>
  <input type="submit">
</form>
